img{
    background-color: transparent;

    width:16rem;
    height:15rem;
    font-weight: bolder;
    position:relative;
    top:-5rem;
    left:2rem;
   
}
.nav{
    display:flex;
   padding:20px;
   
}
.right-side{
position: absolute;
right:20px;
 
}


.signIn{
    background-color: red;
    color:white;
    padding:10px;
    font-size:20px;
    border:none;
    border-radius:5px;
    margin-left:2rem;
    
}
select{
    padding:8px;
    font-size: 20px;
    border-radius:5px;
    background-color: black;
    color:white;
    padding-left:1rem;
    padding-right:1rem;
    
}
Link{
    color:white;
    margin-left:2rem; 
   
}


