.dashbordBody{
    background: url('https://images3.alphacoders.com/751/751563.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(145, 142, 142);
    background-blend-mode: multiply;
}